body
{
background-color: bisque;
}

hr
{
border-style: none;
border-top-style:dotted;
border-color:grey;
border-width:10px;
height: 2px;
width: 100%;
}    

h1
{
color:#421212;
}

h3
{
color:#421212;
}


